@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";

html, body {
  font-family: 'Inter', sans-serif;
  background-color:  #F9F9F9;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



